{
  "presets": [
      ["@babel/env"]
    ]
    // "env": {
    //   "cjs": {
    //     "presets": [
    //       [
    //         "@babel/env",
    //         {
    //           "targets": "node 10",
    //           "modules": false
    //         }
    //       ]
    //     ]
    //   }
    // }
}